In [8]:
# import the necessary libraries
import pandas as pd
import numpy as np
from sklearn import preprocessing
from numpy import set_printoptions
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import dtale

from sklearn import preprocessing
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import statsmodels.api as sm

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

C:\Users\user\AppData\Local\Temp\ipykernel_59216\697499791.py:19: DeprecationWarning:

Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display

In [9]:

# read the data 
df = pd.read_excel('House_Rent_Dataset Excel.xlsx')
df.columns = df.columns.str.upper()   #convert the columns to uppercase 
df.head(2)

,POSTED ON,BHK,RENT,SIZE,FLOOR,AREA TYPE,AREA LOCALITY,CITY,FURNISHING STATUS,TENANT PREFERRED,BATHROOM,POINT OF CONTACT
0,2022-05-16,2,200000,1000,7 out of 8,Carpet Area,Union Park,Mumbai,Furnished,Bachelors/Family,2,Contact Agent
1,2022-05-14,3,200000,1208,5 out of 14,Carpet Area,Khar West,Mumbai,Unfurnished,Bachelors,3,Contact Agent

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df.describe()

In [10]:
column_order = [col for col in df.columns if col != 'RENT'] + ['RENT']
df = df[column_order]

df[['FLOOR']] = df['FLOOR'].str.extract(r'(\d+) out of ')
df = df.fillna(value=0)
df['FLOOR'] = df['FLOOR'].astype(int)

import re

Area_series = df['AREA LOCALITY']
Area_string = Area_series.astype(str)
output_series = Area_string.apply(lambda x: re.sub(r'\d', '', x))
df['AREA LOCALITY'] = output_series

In [11]:
le = preprocessing.LabelEncoder()
df['AREA TYPE'] = le.fit_transform(df['AREA TYPE'])
df['AREA LOCALITY'] = le.fit_transform(df['AREA LOCALITY'])
df['CITY'] = le.fit_transform(df['CITY'])
df['FURNISHING STATUS'] = le.fit_transform(df['FURNISHING STATUS'])
df['TENANT PREFERRED'] = le.fit_transform(df['TENANT PREFERRED'])
df['POINT OF CONTACT'] = le.fit_transform(df['POINT OF CONTACT'])

In [ ]:
df.plot(kind='box', subplots=True, layout=(3, 4), sharex=False, sharey=False)
plt.show()

In [ ]:
sns.pairplot(df)
plt.show()

In [ ]:
corr_matrix = df.corr()
plt.figure(figsize=(8,5))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix')
plt.show()

In [12]:
df = df.drop(['POSTED ON', 'AREA LOCALITY'], axis=1)
df.head(2)

,BHK,SIZE,FLOOR,AREA TYPE,CITY,FURNISHING STATUS,TENANT PREFERRED,BATHROOM,POINT OF CONTACT,RENT
0,2,1000,7,1,5,0,1,2,0,200000
1,3,1208,5,1,5,2,0,3,0,200000

In [ ]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [30]:
test = SelectKBest(score_func=chi2, k=8) 
fit = test.fit(X,y)
print(fit.scores_, "\n")

[5.03266872e+02 4.90858247e+05 1.15369083e+04 1.44356647e+02
 1.25303917e+03 2.26996373e+02 8.22338228e+01 7.41085571e+02
 1.27465003e+03]

In [31]:
selected_feature_indices = fit.get_support(indices=True)

X_np = X.values if isinstance(X, pd.DataFrame) else X

X_selected = X_np[:, selected_feature_indices]

X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

In [33]:
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

r2 = metrics.r2_score(y_test, y_pred)  # R-Squared
print('R-Squared:', r2)

adjusted_r2 = 1 - (1-r2)*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)  # Adjusted R-Squared
print('Adjusted R-Squared:', adjusted_r2)

mse = metrics.mean_squared_error(y_test, y_pred)  # Mean Squared Error
print('Mean Squared Error:', mse)

rmse = np.sqrt(mse)  # Root Mean Squared Error
print('Root Mean Squared Error:', rmse)

mae = metrics.mean_absolute_error(y_test, y_pred)  # Mean Absolute Error
print('Mean Absolute Error:', mae)

R-Squared: 0.5985794248828766
Adjusted R-Squared: 0.5950230964211525
Mean Squared Error: 438155443.9109917
Root Mean Squared Error: 20932.162905705463
Mean Absolute Error: 13659.8234182336